body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Cinzel', serif;
    background-color: #eeeeee;
}
.container-nav{
    display: flex;
    height: 63px;
    width: 100%;
    position: fixed;
    z-index: 30000;
    background-color: white;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.logo i {
    color: #4caf50;
    font-size: 45px;
    margin-right: 10px;
    padding: 8px;
}
.menu{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
}
.menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.logo-name{
    font-size: 30px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
}
.menu ul li{
    margin-right: 15px;
    height: 40px;
    padding: 8px;
}
.menu ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.menu-icons ul{
    list-style: none;
    display: flex;
    margin: 0;
}
.menu-icons ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.menu-icons ul li{
    height: 40px;
    padding: 8px;
}
.menu-icons ul li i{
    padding: 0px 5px;
    font-size: 17px;
}
.slider-slider{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.slider{
    width: 80%;
    height: 100%;
    padding-top: 130px;
}
.slider img{
    width: 100%;
    height: 95%;
}
.slick-dots li button{
    background-color: red;
    border-radius: 20px;
    width: 14px;
    height: 14px;
}
.slick-dots li button:before{
    background-color: black;
    border-radius: 20px;
    width: 14px;
    height: 14px;   
}
.slick-dots{
    bottom: 0%;
}
.slide-img{
    height: 500px;
}
.slick-dotted.slick-slider{
    margin: 0;
}
.container-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.container-content-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding-bottom: 50px;
}
.cart{
    width: 23%;
    height: auto;
    margin-top: 50px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.cart img{
    width: 100%;
    height: auto;
}
.cart-description h4{
    font-weight: 400;
    font-size: 25px;
    margin: 20px 0px;
}
.btn-goods{
    margin: 10px 0 40px 0;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #4285f4;
    border: none;
    cursor: pointer;
}
.btn-show-more{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 27px;
    cursor: pointer;
}
.show-more{
    width: 150px;
    height: 50px;
    color: white;
    background-color: #4285f4;
    border: none;
}
.photo-plates{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-photo-plates{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;

}
.plates-goods{
    width: 50%;
    position: relative;
    overflow: hidden;
}
.plates-goods a img{
    width: 100%;
    height: 100%;  
    transition: all 1s;
}
.plates-goods a img:hover{
    transform: scale(1.25);
}
.plates-goods h2{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 33px;
    font-weight: 300;
    transform: translate(-50%,-100%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 2000px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}
.plates-goods h2 i{
    padding-right: 10px;
}
.footer{
    background-color: #343434;
    width: 100%;
    height: 200px;
}